<p id="notice"><%= notice %></p>





      <!-- Example row of columns -->
      <div class="row">
        <% @ideas.each do |idea| %>
        <div class="col-md-4">
          <h2><%= idea.name %></h2>
          <%= image_tag(idea.picture_url, :width => 600) if idea.picture.present? %>
          <p><%=idea.description%> </p>
           <%= link_to 'Show', idea , class:"btn btn-default"%>
           <%= link_to 'Edit', edit_idea_path(idea) ,class:"btn btn-default" %>
           <%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default"%>
        </div>
        <%end%>
      </div>
   





